.hero-header {    
    width: 100%;
    position: relative;

    img {
        height: 60.125rem; 
        object-fit: cover;
        position: relative;
        width: 100%;
    }
}

.header-title {
    position: absolute !important;
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%) !important;
    width: 80% !important; // Modifier selon votre besoin
    height: 8.875rem !important; // Modifier selon votre besoin
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); // Deux colonnes de largeur égale
    gap: 1.25rem; // Espacement entre les éléments
    margin: 0 auto; // Centrer la grille horizontalement
    justify-content: center;
    align-items: center;
    margin-right: 9.12rem;
    margin-left: 9.12rem;
}
.item {
    position: relative;
    display: inline-block;
  }
  
  .item .image-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6); /* Couleur de fond semi-transparente */
    opacity: 0; /* Invisible par défaut */
    transition: opacity 0.3s ease; /* Transition douce pour l'opacité */
    display: flex;
    justify-content: center;
    align-items: center;
  }

.item {
    box-sizing: border-box; // Pour inclure la marge dans la largeur
    width: auto;
    height: 40.9375rem; 
    position: relative; // Pour positionner l'élément
    overflow: hidden; // Pour cacher les parties des images qui dépassent de la boîte

    img {
        width: 100%; // Pour remplir complètement l'espace de l'élément
        height: 100%; // Pour remplir complètement l'espace de l'élément
        object-fit: cover; // Pour garder les proportions de l'image sans la déformer
        position: absolute; // Pour positionner l'image
        top: 0; // Positionner l'image en haut
        left: 0; // Positionner l'image à gauche
    }
}

.item:hover .image-overlay {
    opacity: 1; /* Visible au survol */
}

.item .image-overlay a {
    color: white; /* Couleur de l'icône */
    font-size: 40px; /* Taille de l'icône */
    text-decoration: none;
}


.thumbnail-image {
    transition: transform 0.3s ease;
}

.image-container:hover .thumbnail-image {
    transform: scale(1.1); /* Agrandir l'image */
    cursor: move; /* Changer le curseur pour indiquer qu'il peut déplacer l'image */
}

.image-container:hover .thumbnail-image:active {
    transform: scale(1.1) translate(-10%, -10%); /* Déplacer l'image au clic de la souris */
}

.annee {
    display: none;
}

.info-thumbnail{
    display: flex;
    flex-direction: row;
    position: absolute;
    bottom: 0.75rem;   
    justify-content: space-between;
    width: 95%;
   
  
  }
  .info-thumbnail div{
  
    color: #FFF;
    font-family: Poppins;
    font-size: .975rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
  }
  
  .full-view{
    position: absolute;
    top: 0.69rem;
    right: 1.12rem;
  }

//Bouton "Charger plus"
#load-more {
    display: flex;
    width: 17rem;
    height: 3.125rem;
    padding: 0.5rem 0.9375rem;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    margin-top: 2.5rem !important; // Espacement supplémentaire vers le haut
    margin-bottom: 2.5rem !important;
    display: block; // Assurez-vous que le bouton est affiché en tant que bloc pour qu'il occupe tout l'espace disponible horizontalement
    margin: 20px auto; // Marge supérieure et inférieure de 20px, et marges gauche et droite automatiques pour centrer horizontalement
    border: none;
    border-radius: 0.125rem;
    background: #D8D8D8;
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.02);
    color: #000;
    font-family: "Space Mono";
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    cursor: pointer; 

    &:hover {
        background: #000; 
        color: #FFFFFF;
    }
}

@media screen and (max-width: 768px) {
    .hero-header {    
        width: 100%;
        img {
            height: auto; 
            object-fit: cover;
            width: 100%;
        }
    }
    .grid {
        margin-top: 20px;
        grid-template-columns: repeat(1, 1fr); // Une colonne à pleine largeur
        justify-content: center;
        align-items: center;
        margin-right: 1.81rem;
        margin-left: 1.81rem;
    }
    .item {
        display: flex;
        box-sizing: border-box; // Pour inclure la marge dans la largeur
        width: 100%;
        height: 35rem;
        position: relative; // Pour positionner l'élément
        overflow: hidden; // Pour cacher les parties des images qui dépassent de la boîte
        justify-content: center;
        align-items: center;
    }
    .header-title {
        height: 4.875rem !important; // Modifier selon votre besoin
    }
}

@media screen and (max-width: 375px) {
    .hero-header {    
        width: 100%;

        img {
            height: auto; 
            object-fit: cover;
            width: 100%;
        }
    }
    .grid {
        margin-top: 20px;
        grid-template-columns: repeat(1, 1fr); // Une colonne à pleine largeur
        justify-content: center;
        align-items: center;
        margin-right: 1.81rem;
        margin-left: 1.81rem;
    }
    .item {
        display: flex;
        box-sizing: border-box; // Pour inclure la marge dans la largeur
        width: 100%;
        height: 15rem;
        position: relative; // Pour positionner l'élément
        overflow: hidden; // Pour cacher les parties des images qui dépassent de la boîte
        justify-content: center;
        align-items: center;
    }
    .header-title {
        height: 1.875rem !important; // Modifier selon votre besoin
    }
}
