.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Deux colonnes de largeur égale */
    gap: 20px; /* Espacement entre les éléments */
    margin-left: auto; /* Centrer la grille horizontalement */
    margin-right: auto; /* Centrer la grille horizontalement */
    max-width: 1200px; /* Largeur maximale de la grille */
}



.item {
    box-sizing: border-box; /* Pour inclure la marge dans la largeur */
    width: 35.25rem;
    height: 30.9375rem; 
    position: relative; /* Pour positionner l'élément */
    overflow: hidden; /* Pour cacher les parties des images qui dépassent de la boîte */
}

.item img {
    width: 100%; /* Pour remplir complètement l'espace de l'élément */
    height: 100%; /* Pour remplir complètement l'espace de l'élément */
    object-fit: cover; /* Pour garder les proportions de l'image sans la déformer */
    position: absolute; /* Pour positionner l'image */
    top: 0; /* Positionner l'image en haut */
    left: 0; /* Positionner l'image à gauche */
}

.annee {
    display: none;

}

@media screen and (max-width: 768px) {
    .grid {
        grid-template-columns: repeat(1, 1fr); /* Une colonne à pleine largeur */
    }
}