.container-caption {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 22%;
  margin-right: 22%;

  div {
    color: #FFF;
    font-family: Poppins;
    font-size: .975rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
  }
}

.container-suivantes {
  display: flex;
  flex-direction: row;
  margin-left: -80px !important;

  span {
    margin-right: 15px;
    margin-top: 3px;
    color: #FFF;
    font-family: "Space Mono";
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    &:hover {
      color: #FFF;
      font-family: "Space Mono";
      font-size: 0.75rem;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
    }
  }

  &:hover {
    span {
      color: #FFF;
      font-family: "Space Mono";
      font-size: 0.75rem;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
    }

    img {
      min-width: 35px;
    }
  }
}

.container-precedentes {
  display: flex;
  flex-direction: row;

  span {
    margin-left: 15px;
    margin-top: 3px;
    color: #FFF;
    font-family: "Space Mono";
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    &:hover {
      color: #FFF;
      font-family: "Space Mono";
      font-size: 0.75rem;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
    }
  }

  &:hover {
    span {
      color: #FFF;
      font-family: "Space Mono";
      font-size: 0.75rem;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
    }

    img {
      min-width: 35px;
    }
  }
}

.fancybox-button {
  background: none !important;
}
@media screen and (max-width: 768px) {
  .container-caption{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin: 0;    
  }
  .container-suivantes{
     display: none;
  }
  .container-suivantes span{
      display: none;
  }
  .container-suivantes span:hover{
      display: none;
  }
  .container-precedentes{
      display: none !important;
  }
  .container-precedentes span{
      display: none;
   
  }
  .container-precedentes span:hover{
      display: none;
   
  }
  
}