@import url("https://fonts.googleapis.com/css2?family=Space+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import 'modale';
@import 'galerie';
@import 'acceuil';
@import 'single';
@import 'lightbox';
@import 'filters';
@import 'header';
@import 'footer';

h1{
    color: #000;
    font-family: "Space Mono";
    font-size: 6rem;
    font-style: italic;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
}
h3{
    color: #000;
    font-family: "Space Mono";
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.1125rem;
    text-transform: uppercase; 
}
body{
    margin: auto;
    width: 100%;
}

.item:hover .image-overlay {
    opacity: 1; /* Visible au survol */
}

.item .image-overlay a {
    color: white; /* Couleur de l'icône */
    font-size: 40px; /* Taille de l'icône */
    text-decoration: none;
}

.lightbox-trigger {
    pointer-events: auto; /* Rend le lien de l'icône cliquable */
}
.thumbnail-image {
    transition: transform 0.3s ease;
}

.image-container:hover .thumbnail-image {
    transform: scale(1.1); /* Agrandir l'image */
    cursor: move; /* Changer le curseur pour indiquer qu'il peut déplacer l'image */
}

.image-container:hover .thumbnail-image:active {
    transform: scale(1.1) translate(-10%, -10%); /* Déplacer l'image au clic de la souris */
}
/* Ajouter une opacité au fond de la lightbox */
.fancybox-bg {
    background: rgba(0, 0, 0, 0.8) !important; /* Opacité de 80% (0.8) */
}

