@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Space+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
/*Modale*/
.modal {
  display: block; /* Afficher la modale par défaut */
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.contact-image {
  position: absolute;
  margin: 0;
  padding: 0;
}

/* Contenu de la modale */
.modal-content {
  margin: 15% auto;
  width: 37.3125rem;
  height: 48.0625rem;
  position: relative;
  border: 5px solid #000;
  background: #FFF;
}

/* Bouton de fermeture */
.close {
  color: #aaa;
  position: absolute;
  top: 0;
  right: 0;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Formulaire */
.modal-content form {
  margin-top: 10.62rem;
  margin-left: 10.31rem;
}

.modal-content label {
  color: #313144;
  font-family: Poppins;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
}

.modal-content input {
  width: 16.4375rem;
  height: 2.5rem;
  border-radius: 0.5rem;
  border: 1px solid #B8BBC2;
  background: #FFF;
}

.modal-content textarea {
  width: 16.4375rem;
  height: 13.125rem;
  border-radius: 0.5rem;
  border: 1px solid #B8BBC2;
  background: #FFF;
  resize: none;
}

.wpcf7-form-control.wpcf7-submit.has-spinner {
  display: flex;
  width: 16.4375rem;
  height: 3.125rem;
  padding: 0.5rem 0.9375rem;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  flex-shrink: 0;
  border-radius: 0.125rem;
  background: #D8D8D8;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.02);
  color: #000;
  font-family: "Space Mono";
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.hero-header {
  width: 100%;
}

.hero-header img {
  height: 60.125rem;
  object-fit: cover;
  width: 100%;
}

/* Filtres */
.filters-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  margin-bottom: 2.44rem;
  margin-top: 4.94rem;
  margin-right: 9.12rem;
  margin-left: 9.12rem;
}

.filters select {
  display: flex;
  width: 16.25rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.6875rem 1.125rem;
  align-items: center;
  align-self: stretch;
  border-radius: 0.5rem;
  border: 1.3px solid var(--Blues-Gray2, #B8BBC2);
  background: var(--White, #FFF);
}

#filter-format {
  margin-right: 800px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Deux colonnes de largeur égale */
  gap: 1.25rem; /* Espacement entre les éléments */
  margin-left: auto; /* Centrer la grille horizontalement */
  margin-right: auto; /* Centrer la grille horizontalement */
  justify-content: center;
  align-items: center;
  margin-right: 9.12rem;
  margin-left: 9.12rem;
}

.item {
  box-sizing: border-box; /* Pour inclure la marge dans la largeur */
  width: auto;
  height: 40.9375rem;
  position: relative; /* Pour positionner l'élément */
  overflow: hidden; /* Pour cacher les parties des images qui dépassent de la boîte */
}

.item img {
  width: 100%; /* Pour remplir complètement l'espace de l'élément */
  height: 100%; /* Pour remplir complètement l'espace de l'élément */
  object-fit: cover; /* Pour garder les proportions de l'image sans la déformer */
  position: absolute; /* Pour positionner l'image */
  top: 0; /* Positionner l'image en haut */
  left: 0; /* Positionner l'image à gauche */
}

.annee {
  display: none;
}

/*Bouton "Charger plus */
#load-more {
  display: flex;
  width: 17rem;
  height: 3.125rem;
  padding: 0.5rem 0.9375rem;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  margin-top: 2.5rem !important; /* Espacement supplémentaire vers le haut */
  margin-bottom: 2.5rem !important;
  display: block; /* Assurez-vous que le bouton est affiché en tant que bloc pour qu'il occupe tout l'espace disponible horizontalement */
  margin: 20px auto; /* Marge supérieure et inférieure de 20px, et marges gauche et droite automatiques pour centrer horizontalement */
  border-radius: 0.125rem;
  background: #D8D8D8;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.02);
}

@media screen and (max-width: 768px) {
  .hero-header {
    width: 100%;
  }
  .hero-header img {
    height: auto;
    object-fit: cover;
    width: 100%;
  }
  .filters-container {
    margin-top: 20px !important;
    margin-right: 1.81rem;
    margin-left: 1.81rem;
  }
  .filters-container, #filter-format {
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
  }
  .filters select {
    margin-bottom: 0.5rem;
  }
  .grid {
    margin-top: 20px;
    grid-template-columns: repeat(1, 1fr); /* Une colonne à pleine largeur */
    justify-content: center;
    align-items: center;
    margin-right: 1.81rem;
    margin-left: 1.81rem;
  }
  .item {
    display: flex;
    box-sizing: border-box; /* Pour inclure la marge dans la largeur */
    width: auto;
    height: 35rem;
    width: 100%;
    position: relative; /* Pour positionner l'élément */
    overflow: hidden; /* Pour cacher les parties des images qui dépassent de la boîte */
    justify-content: center;
    align-items: center;
  }
}
.single-content {
  margin-top: 2.38rem;
  margin-right: 9.12rem;
  margin-left: 9.12rem;
}

.detail {
  display: flex;
  flex: row;
  justify-content: space-between;
  gap: 1.31rem;
}

.detail-photo {
  position: relative;
  border-bottom: 1px solid black;
  width: 50%;
}

.d-photo {
  position: absolute;
  bottom: 20px;
  width: 50%;
}

.detail-photo p, strong {
  color: #000;
  font-family: "Space Mono";
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.0875rem;
  text-transform: uppercase;
}

.post-thumbnail {
  width: 50%;
}

.post-thumbnail img {
  width: 100% !important;
  height: auto;
}

.additional-images {
  display: flex;
  flex: row;
  justify-content: space-between;
}

/* Section contact */
.section-contact {
  position: relative;
  border-bottom: 1px solid black;
  display: flex;
  justify-content: space-between;
}

.carousel-container {
  width: 150px;
}

.container-question {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-question p {
  color: #000;
  text-align: right;
  /* p */
  font-family: Poppins;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.carousel.slick-initialized.slick-slider {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-arrow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.grid-single {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Deux colonnes de largeur égale */
  gap: 1.25rem; /* Espacement entre les éléments */
  margin-left: auto; /* Centrer la grille horizontalement */
  margin-right: auto; /* Centrer la grille horizontalement */
  justify-content: center;
  align-items: center;
}

#openModalButton {
  display: flex;
  width: 17rem;
  height: 3.125rem;
  padding: 0.5rem 0.9375rem;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  border-radius: 0.125rem;
  background: #D8D8D8;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.02);
  color: #000;
  font-family: "Space Mono";
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.carousel-container {
  margin-top: 10px;
}

.container-arrow {
  margin-top: 10px;
  margin-bottom: 10px;
}

.container-question {
  display: flex;
  flex-wrap: wrap;
  gap: 335px;
  justify-content: space-between;
}

h1 {
  color: #000;
  font-family: "Space Mono";
  font-size: 6rem;
  font-style: italic;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

h3 {
  color: #000;
  font-family: "Space Mono";
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.1125rem;
  text-transform: uppercase;
}

body {
  margin: auto;
  width: 100%;
}

.header {
  height: 5rem;
  background: #FFF;
  box-shadow: 0px 4px 14px 10px rgba(0, 0, 0, 0.03);
}

.menu-header {
  position: relative;
}

.menu-header ul {
  display: flex;
  flex-direction: row;
  position: absolute;
  right: 6.19rem;
  gap: 2.81rem;
  list-style: none;
  justify-content: center;
  align-items: center;
  top: 10px;
}

.menu-header ul a {
  color: #000;
  font-family: "Space Mono";
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  text-decoration: none;
}

.logo {
  position: absolute;
  width: 216px;
  height: 14px;
  top: 1.94rem;
  left: 146px;
}

/*Footer*/
.footer {
  display: flex;
  justify-content: center;
}
.footer ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
}
.footer ul li {
  margin: 0 3.38rem;
  color: #000;
  font-family: "Space Mono";
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}

.item {
  position: relative;
  display: inline-block;
}

.item .image-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Couleur de fond semi-transparente */
  opacity: 0; /* Invisible par défaut */
  transition: opacity 0.3s ease; /* Transition douce pour l'opacité */
  display: flex;
  justify-content: center;
  align-items: center;
}

.item:hover .image-overlay {
  opacity: 1; /* Visible au survol */
}

.item .image-overlay a {
  color: white; /* Couleur de l'icône */
  font-size: 40px; /* Taille de l'icône */
  text-decoration: none;
}

.lightbox-trigger {
  pointer-events: auto; /* Rend le lien de l'icône cliquable */
}

/*# sourceMappingURL=styles.css.map */
