@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Space+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
/*Modale*/
.modal {
  display: block; /* Afficher la modale par défaut */
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.contact-image {
  position: absolute;
  margin: 0;
  padding: 0;
}

/* Contenu de la modale */
.modal-content {
  margin: 15% auto;
  width: 37.3125rem;
  height: 48.0625rem;
  position: relative;
  border: 5px solid #000;
  background: #FFF;
}

/* Bouton de fermeture */
.close {
  color: #aaa;
  position: absolute;
  top: 0;
  right: 0;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Formulaire */
.modal-content form {
  margin-top: 10.62rem;
  margin-left: 10.31rem;
}

.modal-content label {
  color: #313144;
  font-family: Poppins;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
}

.modal-content input {
  width: 16.4375rem;
  height: 2.5rem;
  border-radius: 0.5rem;
  border: 1px solid #B8BBC2;
  background: #FFF;
}

.modal-content textarea {
  width: 16.4375rem;
  height: 13.125rem;
  border-radius: 0.5rem;
  border: 1px solid #B8BBC2;
  background: #FFF;
  resize: none;
}

.wpcf7-form-control.wpcf7-submit.has-spinner {
  display: flex;
  width: 16.4375rem;
  height: 3.125rem;
  padding: 0.5rem 0.9375rem;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  flex-shrink: 0;
  border-radius: 0.125rem;
  background: #D8D8D8;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.02);
  color: #000;
  font-family: "Space Mono";
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

@media screen and (max-width: 375px) {
  .modal {
    margin: 0;
  }
  .contact-image {
    margin-top: 1.13rem !important;
  }
  .modal-content {
    width: 20rem;
    height: 37.4375rem;
  }
  .modal-content > * {
    position: relative !important;
    width: 20rem;
    margin: 0;
    padding: 0;
  }
  .wpcf7-form.init, .wpcf7-form.invalid {
    margin: 0 !important;
    justify-items: center;
    align-items: center;
    margin-left: 3rem !important;
  }
  .wpcf7-not-valid-tip {
    font-family: "Space Mono";
    font-size: 0.45rem;
    font-style: normal;
    font-weight: 200;
    line-height: normal;
  }
  .modal-content input {
    width: 80%; /* Spécifiez la largeur souhaitée */
    /* Autres styles... */
    justify-content: center;
  }
  .modal-content textarea {
    width: 80%;
    height: 95%;
  }
  p .wpcf7-form-control.wpcf7-submit.has-spinner {
    width: 82%;
  }
  .wpcf7-response-output {
    display: none;
  }
}
.hero-header {
  width: 100%;
  position: relative;
}

.hero-header img {
  height: 60.125rem;
  object-fit: cover;
  position: relative;
  width: 100%;
}

.header-title {
  position: absolute !important;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
  width: 80% !important; /* Modifier selon votre besoin */
  height: 8.875rem !important; /* Modifier selon votre besoin */
}

/* Filtres */
/* Changement de couleur au survol */
/* CSS pour changer la couleur lors du survol des options dans un menu déroulant */
.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Deux colonnes de largeur égale */
  gap: 1.25rem; /* Espacement entre les éléments */
  margin-left: auto; /* Centrer la grille horizontalement */
  margin-right: auto; /* Centrer la grille horizontalement */
  justify-content: center;
  align-items: center;
  margin-right: 9.12rem;
  margin-left: 9.12rem;
}

.item {
  box-sizing: border-box; /* Pour inclure la marge dans la largeur */
  width: auto;
  height: 40.9375rem;
  position: relative; /* Pour positionner l'élément */
  overflow: hidden; /* Pour cacher les parties des images qui dépassent de la boîte */
}

.item img {
  width: 100%; /* Pour remplir complètement l'espace de l'élément */
  height: 100%; /* Pour remplir complètement l'espace de l'élément */
  object-fit: cover; /* Pour garder les proportions de l'image sans la déformer */
  position: absolute; /* Pour positionner l'image */
  top: 0; /* Positionner l'image en haut */
  left: 0; /* Positionner l'image à gauche */
}

.annee {
  display: none;
}

/*Bouton "Charger plus */
#load-more {
  display: flex;
  width: 17rem;
  height: 3.125rem;
  padding: 0.5rem 0.9375rem;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  margin-top: 2.5rem !important; /* Espacement supplémentaire vers le haut */
  margin-bottom: 2.5rem !important;
  display: block; /* Assurez-vous que le bouton est affiché en tant que bloc pour qu'il occupe tout l'espace disponible horizontalement */
  margin: 20px auto; /* Marge supérieure et inférieure de 20px, et marges gauche et droite automatiques pour centrer horizontalement */
  border: none;
  border-radius: 0.125rem;
  background: #D8D8D8;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.02);
  color: #000;
  font-family: "Space Mono";
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  cursor: pointer;
}

#load-more:hover {
  background: #000;
  color: #FFFFFF;
}

@media screen and (max-width: 768px) {
  .hero-header {
    width: 100%;
  }
  .hero-header img {
    height: auto;
    object-fit: cover;
    width: 100%;
  }
  .grid {
    margin-top: 20px;
    grid-template-columns: repeat(1, 1fr); /* Une colonne à pleine largeur */
    justify-content: center;
    align-items: center;
    margin-right: 1.81rem;
    margin-left: 1.81rem;
  }
  .item {
    display: flex;
    box-sizing: border-box; /* Pour inclure la marge dans la largeur */
    width: auto;
    height: 35rem;
    width: 100%;
    position: relative; /* Pour positionner l'élément */
    overflow: hidden; /* Pour cacher les parties des images qui dépassent de la boîte */
    justify-content: center;
    align-items: center;
  }
  .header-title {
    height: 4.875rem !important; /* Modifier selon votre besoin */
  }
  .footer {
    height: 12.9375rem !important;
    text-align: center;
    justify-content: center;
  }
  .footer ul {
    display: flex;
    margin-top: 1.5rem !important;
    flex-direction: column !important;
  }
  .footer ul li {
    margin-bottom: 1.5rem !important;
  }
}
@media screen and (max-width: 375px) {
  .hero-header {
    width: 100%;
  }
  .hero-header img {
    height: auto;
    object-fit: cover;
    width: 100%;
  }
  .grid {
    margin-top: 20px;
    grid-template-columns: repeat(1, 1fr); /* Une colonne à pleine largeur */
    justify-content: center;
    align-items: center;
    margin-right: 1.81rem;
    margin-left: 1.81rem;
  }
  .item {
    display: flex;
    box-sizing: border-box; /* Pour inclure la marge dans la largeur */
    width: auto;
    height: 15rem;
    width: 100%;
    position: relative; /* Pour positionner l'élément */
    overflow: hidden; /* Pour cacher les parties des images qui dépassent de la boîte */
    justify-content: center;
    align-items: center;
  }
  .header-title {
    height: 1.875rem !important; /* Modifier selon votre besoin */
  }
  .footer {
    height: 12.9375rem !important;
    text-align: center;
    justify-content: center;
  }
  .footer ul {
    display: flex;
    margin-top: 1.5rem !important;
    flex-direction: column !important;
  }
  .footer ul li {
    margin-bottom: 1.5rem !important;
  }
}
.single-content {
  margin-top: 2.38rem;
  margin-right: 9.12rem;
  margin-left: 9.12rem;
}

.detail {
  display: flex;
  flex: row;
  justify-content: space-between;
  gap: 1.31rem;
}

.detail-photo {
  position: relative;
  border-bottom: 1px solid black;
  width: 50%;
}

.d-photo {
  position: absolute;
  bottom: 20px;
  width: 50%;
}

.detail-photo p, strong {
  color: #000;
  font-family: "Space Mono";
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.0875rem;
  text-transform: uppercase;
}

.post-thumbnail {
  width: 50%;
}

.post-thumbnail img {
  width: 100% !important;
  height: auto;
}

.additional-images {
  display: flex;
  flex: row;
  justify-content: space-between;
}

/* Section contact */
.section-contact {
  position: relative;
  border-bottom: 1px solid black;
  display: flex;
  justify-content: space-between;
}

.carousel-container {
  width: 150px;
}

.container-question {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-question p {
  color: #000;
  text-align: right;
  /* p */
  font-family: Poppins;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.carousel.slick-initialized.slick-slider {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-arrow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.grid-single {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Deux colonnes de largeur égale */
  gap: 1.25rem; /* Espacement entre les éléments */
  margin-left: auto; /* Centrer la grille horizontalement */
  margin-right: auto; /* Centrer la grille horizontalement */
  margin-bottom: 6.81rem;
  justify-content: center;
  align-items: center;
}

#openModalButton {
  display: flex;
  width: 17rem;
  height: 3.125rem;
  padding: 0.5rem 0.9375rem;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  border-radius: 0.125rem;
  background: #D8D8D8;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.02);
  color: #000;
  font-family: "Space Mono";
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border: none;
  cursor: pointer;
}

#openModalButton:hover {
  background: #000;
  color: #FFFFFF;
}

.carousel-container {
  margin-top: 10px;
}

.container-arrow {
  margin-top: 10px;
  margin-bottom: 10px;
}

.container-question {
  display: flex;
  flex-wrap: wrap;
  gap: 335px;
  justify-content: space-between;
}

@media screen and (max-width: 768px) {
  .detail {
    flex-direction: column-reverse;
  }
  .d-photo {
    position: relative;
  }
  .carousel-container {
    display: none;
  }
  .container-question {
    flex-direction: column;
    gap: 0;
    margin-left: 21%;
    margin-bottom: 1.44rem;
    margin-top: 1.44rem;
  }
  .container-question p {
    text-align: left;
    width: 100%;
  }
  .grid-single {
    grid-template-columns: repeat(1, 1fr); /* Une colonne à pleine largeur */
    justify-content: center;
    align-items: center;
  }
  .detail .post-thumbnail {
    width: 100%;
  }
  .detail-photo {
    border: none;
  }
  .section-contact {
    margin-right: -40% !important;
    margin-left: -40% !important;
    border-top: 1px solid black;
  }
  .grid-single .item {
    height: 25rem;
  }
  .grid-single {
    margin: 0;
    margin-bottom: 1.52rem;
  }
}
@media screen and (max-width: 375px) {
  .single-content {
    margin-top: 2.38rem;
    margin-right: 2.12rem;
    margin-left: 2.12rem;
  }
  .detail {
    flex-direction: column-reverse;
  }
  .d-photo {
    position: relative;
  }
  .carousel-container {
    display: none;
  }
  .container-question {
    flex-direction: column;
    gap: 0;
    margin-left: 25%;
    margin-bottom: 1.44rem;
    margin-top: 1.44rem;
  }
  .container-question p {
    text-align: left;
    width: 100%;
  }
  .grid-single {
    grid-template-columns: repeat(1, 1fr); /* Une colonne à pleine largeur */
    justify-content: center;
    align-items: center;
  }
  .detail .post-thumbnail {
    width: 100%;
  }
  .detail-photo {
    border: none;
  }
  .section-contact {
    margin-right: -40% !important;
    margin-left: -40% !important;
    border-top: 1px solid black;
  }
  .grid-single .item {
    height: 15rem;
  }
  .grid-single {
    margin: 0;
    margin-bottom: 1.52rem;
  }
  .d-photo h1 {
    color: #000;
    /* H2 mobile */
    font-family: "Space Mono";
    font-size: 2.875rem;
    font-style: italic;
    font-weight: 400;
    line-height: 3rem;
    text-transform: uppercase;
  }
}
.item {
  position: relative;
  display: inline-block;
}

.item .image-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6); /* Couleur de fond semi-transparente */
  opacity: 0; /* Invisible par défaut */
  transition: opacity 0.3s ease; /* Transition douce pour l'opacité */
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-caption {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 400px;
  margin-right: 400px;
}

.container-caption div {
  color: #FFF;
  font-family: Poppins;
  font-size: 0.975rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
}

.info-thumbnail {
  display: flex;
  flex-direction: row;
  position: absolute;
  bottom: 0.75rem;
  justify-content: space-between;
  width: 95%;
}

.info-thumbnail div {
  color: #FFF;
  font-family: Poppins;
  font-size: 0.975rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
}

.full-view {
  position: absolute;
  top: 0.69rem;
  right: 1.12rem;
}

.container-suivantes {
  display: flex;
  flex-direction: row;
  margin-left: -80px !important;
}

.container-suivantes span {
  margin-right: 15px;
  margin-top: 3px;
  color: #FFF;
  font-family: "Space Mono";
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.container-precedentes {
  display: flex;
  flex-direction: row;
}

.container-precedentes span {
  margin-left: 15px;
  margin-top: 3px;
  color: #FFF;
  font-family: "Space Mono";
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.fancybox-button {
  background: none !important;
}

.main-filters-container {
  display: none;
}

.filters-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-right: 9.12rem;
  margin-left: 9.12rem;
  margin-top: 4.94rem;
  margin-bottom: 2.44rem;
}

.filter:hover {
  background: #FFD6D6 !important;
}

.filter:active {
  background: #FE5858 !important;
}

.filter:visited {
  background: #E00000 !important;
}

.filter-options {
  display: none;
}

.filter {
  padding: 0.6875rem 1.5rem;
  color: var(--Black, #313144);
  /* Drop Menu Menu */
  font-family: Poppins;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.125rem; /* 150% */
  letter-spacing: 0.0225rem;
  text-transform: uppercase;
  cursor: pointer;
}

#filter-format {
  right: 390px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-toggle {
  background-color: #ffffff;
  border-radius: 0.5rem;
  border: 1.3px solid var(--Blues-Gray2, #B8BBC2);
  width: 16.25rem;
  padding: 0.6875rem 1.125rem;
  color: #333;
  padding: 10px;
  justify-content: space-between;
  cursor: pointer;
}

.dropdown-toggle.opened {
  background-color: #ffffff;
  border-radius: 0.5rem 0.5rem 0rem 0rem;
  border: 1.3px solid var(--Blues-Gray2, #B8BBC2);
  width: 16.25rem;
  padding: 0.6875rem 1.125rem;
  color: #333;
  padding: 10px;
  justify-content: space-between;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  border-radius: 0rem 0rem 0.5rem 0.5rem;
  background: var(--White, #FFF);
  z-index: 1;
  width: 16.25rem;
}

.show {
  display: block;
}

.dropdown-toggle {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.arrow {
  margin-left: 5px; /* Ajustez selon votre préférence */
}

.button-text, .dropdown-toggle {
  color: var(--Black, #313144);
  font-family: Poppins;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.125rem; /* 150% */
  letter-spacing: 0.0225rem;
  text-transform: uppercase;
}

.rotate-chevron {
  transform: rotate(180deg);
  transition: transform 0.3s ease; /* Animation de transition */
}

@media screen and (max-width: 768px) {
  #filter-format {
    right: 0;
  }
  .filters-container, #filter-format {
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
  }
  .filters-container {
    margin-top: 1.5rem;
    align-items: center;
  }
  .dropdown, #filter-format {
    margin-bottom: 0.5rem;
  }
}
h1 {
  color: #000;
  font-family: "Space Mono";
  font-size: 6rem;
  font-style: italic;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

h3 {
  color: #000;
  font-family: "Space Mono";
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.1125rem;
  text-transform: uppercase;
}

body {
  margin: auto;
  width: 100%;
}

.header {
  height: 5rem;
  background: #FFF;
  box-shadow: 0px 4px 14px 10px rgba(0, 0, 0, 0.03);
}

.menu-header {
  position: relative;
}

#menu-primary-menu {
  display: flex;
  flex-direction: row;
  position: absolute;
  right: 6.19rem;
  gap: 2.81rem;
  list-style: none;
  justify-content: center;
  align-items: center;
  top: 10px;
}

#menu-primary-menu a {
  color: #000;
  font-family: "Space Mono";
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  text-decoration: none;
}

.logo {
  position: absolute;
  width: 216px;
  height: 14px;
  top: 1.94rem;
  left: 146px;
}

/*Footer*/
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2.5rem;
  border-top: 1px solid black;
}
.footer ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
}
.footer ul li {
  margin: 0 3.38rem;
}
.footer ul a {
  text-decoration: none;
  color: #000;
  font-family: "Space Mono";
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}

.item:hover .image-overlay {
  opacity: 1; /* Visible au survol */
}

.item .image-overlay a {
  color: white; /* Couleur de l'icône */
  font-size: 40px; /* Taille de l'icône */
  text-decoration: none;
}

.lightbox-trigger {
  pointer-events: auto; /* Rend le lien de l'icône cliquable */
}

.thumbnail-image {
  transition: transform 0.3s ease;
}

.image-container:hover .thumbnail-image {
  transform: scale(1.1); /* Agrandir l'image */
  cursor: move; /* Changer le curseur pour indiquer qu'il peut déplacer l'image */
}

.image-container:hover .thumbnail-image:active {
  transform: scale(1.1) translate(-10%, -10%); /* Déplacer l'image au clic de la souris */
}

/* Ajouter une opacité au fond de la lightbox */
.fancybox-bg {
  background: rgba(0, 0, 0, 0.8) !important; /* Opacité de 80% (0.8) */
}

/*# sourceMappingURL=styles.css.map */
